<%
  def sort(additions):
    return sorted(
      additions,
      lambda a,b: cmp(b.percentage, a.percentage)
    )
%>

<div class="step active clearfix"> 

  <%include file="../../tabs.html" args="active='boil'" />

  <div class="ingredient-list">

    <% i = 0 %>

    ${h.form('async/ingredients?_method=put')}
    <h3 class="ribbon">
        <span class="step-help">Boil </span>Ingredients
    </h3>

      % if not editable:
        <p class="instruction">
          % if recipe.type in ('EXTRACT', 'EXTRACTSTEEP'):
            Begin by boiling ${int(recipe.gallons)} gallons of water (or as much as your brew kettle will hold).
            <br /><br />
            % if recipe.type == 'EXTRACTSTEEP':
              When the water temperature reaches 150&#186; F - 170&#186; F, steep any specialty grains for at least 15 minutes.<br />
              After steeping, continue heating until boiling.
              <br /><br />
            % endif
            Once the boil starts, add malt extract and begin to stir.
          % else:
            Collect the wort and bring it to a boil.
            <br /><br />
          % endif
          Add hops at the indicated times:
        </p>
      % endif

      % if recipe.boil:
        <table>

          <!-- Malt Additions -->
          % if recipe.boil.get(h.model.Fermentable):
            <tr>
              <th class="type" />
              <th class="time">Use</th>
              <th class="amount">Amount</th>
              <th>Fermentable</th>
              <th>PPG</th>
              <th class="unit">L</th>
              <th class="close" />
            </tr>

            % for addition in sort(recipe.boil.get(h.model.Fermentable)):
              <%include file="../additions/fermentable.html" args="i=i, addition=addition" />
              <% i += 1 %>
            % endfor
          %endif

          <!-- Hop Additions -->
          % if recipe.boil.get(h.model.Hop):
            <tr>
              <th class="type" />
              <th class="time">Use</th>
              <th class="amount">Amount</th>
              <th>Variety</th>
              <th>Form</th>
              <th class="unit">AA</th>
              <th class="close" />
            </tr>

            % for addition in sort(recipe.boil.get(h.model.Hop)):
              <%include file="../additions/hop.html" args="i=i, addition=addition" />
              <% i += 1 %>
            % endfor
          %endif

          <!-- Extra Additions -->
          % if recipe.boil.get(h.model.Extra):
            <tr>
              <th class="type" />
              <th class="time">Use</th>
              <th class="amount">Amount</th>
              <th>Name</th>
              <th></th>
              <th class="unit"></th>
              <th class="close" />
            </tr>

            % for addition in sort(recipe.boil.get(h.model.Extra)):
              <%include file="../additions/extra.html" args="i=i, addition=addition" />
              <% i += 1 %>
            % endfor
          %endif

        </table>
      % else:
        <table>
          <tr>
            <td>
              Choose one or more boil additions for this recipe.
            </td>
          </tr>
        </table>
      % endif
    ${h.end_form()}

    <h3 class="ribbon">Boil Duration</h3>

    <ol class='process'>
      ${h.form('async/settings/boil_minutes', method='POST')}

        <li>
          Boil for 
          ${h.text(
            'minutes',
            recipe.boil_minutes,
            class_ = 'unit'
          )}
          minutes.
        </li>
    </ol>

  </div>

  <div class="inventory">
    <%include file="add.html" />
  </div>

</div>
