<%inherit file="../layout.html" />

<%def name="style()">
    <link rel="stylesheet/less" type="text/css" media="screen" href="/css/profile.less" />
</%def>

<h1 class="clearfix">
  <img src="${user.gravatar}?s=60" class="gravatar" />
  ${user.username}
</h1> 

<div class="clearfix">

  <dl class="profile">
    % if user.full_name.strip():
      <dt>Full Name</dt>
        <dd>${user.full_name}</dd>
    % endif
    % if user.location:
      <dt>Location</dt>
        <dd>${user.location}</dd>
    % endif
    <dt>Member Since</dt>
      <dd>${h.format_date(user.signup_date)}</dd>
    % if user == h.request.context['user']:
      <dt class="edit">
        <a href="/settings/profile">
          Edit Your Profile
        </a>
      </dt>
    % endif
      
  </dl>

  % if len(user.recipes):
    <h2>Recipes (${len(user.recipes)})</h2>
  % endif

  <dl class="recipes">
    % if not len(user.recipes) and user == h.request.context['user']:
      <dt class="empty">
        You don't have any recipes yet.  Why not <a href="/recipes/create">add
          one</a>?
      </dt>
    % elif not len(user.recipes):
      <dt class="empty">
        ${user.username} doesn't have any recipes yet.
      </dt>
    % else:
      % for recipe in user.recipes:
        <%include file="recipe.html" args="recipe=recipe" />
      % endfor
    % endif
  </dl>

</div>
