<%inherit file="../layout.html" />

<%def name="title()">
  ${user.username}
</%def>

<%def name="style()">
  <link rel="stylesheet" type="text/css" media="screen" href="${h.stamp('/css/profile.less.css')}" />
</%def>

<%def name="javascript()">
  <script type="text/javascript" src="${h.stamp('/javascript/profile.js')}"></script>
</%def>

<h1 class="clearfix">
  % if h.request.context['user'] == user:
    <a href="/settings/profile"><img src="${user.gravatar}&s=60" class="gravatar" /></a>
  % else:
    <img src="${user.gravatar}&s=60" class="gravatar" />
  % endif
  ${user.username}
</h1> 

<div class="clearfix">

  <dl class="profile">
    % if user.full_name.strip():
      <dt>Full Name</dt>
        <dd>${user.full_name}</dd>
    % endif
    % if user.location:
      <dt>Location</dt>
        <dd>${user.location}</dd>
    % endif
    <dt>Member Since</dt>
      <dd>${h.format_date(user.signup_date)}</dd>
    % if user.bio:
      <dt class="bio">
        % for line in user.bio.strip().splitlines():
          ${line}<br />
        % endfor
      </dt>
    % endif
    % if user == h.request.context['user']:
      <dt class="edit">
        <a href="/settings/profile">
          Edit Your Profile
        </a>
      </dt>
    % endif
      
  </dl>

  <div class="recipe-container">
    % if len(user.published_recipes):
      <h2>Recipes (${len(user.published_recipes)})</h2>
    % endif

    <dl class="recipes">
      % if not len(user.published_recipes) and user == h.request.context['user']:
        <dt class="empty">
          You don't have any recipes yet.  Why not <a href="/recipes/create">add
            one</a>?
        </dt>
      % elif not len(user.published_recipes):
        <dt class="empty">
          <b>${user.username}</b> hasn't added any recipes yet.
        </dt>
      % else:
        % for recipe in user.published_recipes:
          <%include file="recipe.html" args="recipe=recipe" />
        % endfor
      % endif
    </dl>

    % if user == h.request.context['user']:
      % if len(user.drafts):
        <h2>Drafts (${len(user.drafts)})</h2>
      % endif

      <dl class="recipes">
        % for recipe in user.drafts:
          <%include file="recipe.html" args="recipe=recipe" />
        % endfor
      </dl>
    % endif

  </div>

</div>
