<%page args="recipe" />

<dt class="recipe clearfix">
  <%
    srm = int(round(recipe.calculations.srm))
    ebc = int(round(recipe.calculations.ebc))
  %>
  % if recipe.metric:
    <span class="srm srm-${min(srm, 30)}" title="${ebc} EBC">
      <img src="/images/glass-plain.png" width="38" class="glass" />
    </span>
  % else:
    <span class="srm srm-${min(srm, 30)}" title="${srm} SRM">
      <img src="/images/glass-plain.png" width="38" class="glass" />
    </span>
  % endif

  <div class="heading">
    <h3>
      % if recipe.state == "PUBLISHED" and h.request.context['user'] == recipe.author:
        ${h.form("%sdraft" % recipe.url())}
          <a href="#" class="submit">
            ${recipe.name}
          </a>
        ${h.end_form()}
      % else:
        <a href="${recipe.url(h.request.context['user'] != recipe.author)}">
          ${recipe.name}
        </a>
      % endif    
    </h3>

    <ul class="badge">
      ${h.form("%scopy" % recipe.url())}
        <li class="first copy btn submit" title="Copy this Recipe"></li>
      ${h.end_form()}
      ${h.form("%sxml" % recipe.url())}
        <li class="xml btn submit" title="Download BeerXML"></li>
      ${h.end_form()}
      % if h.request.context['user'] == recipe.author and recipe.state == 'PUBLISHED':
        <form method="GET" action="${recipe.url()}">
          <li class="preview btn submit" title="Preview this Recipe"></li>
        </form>
      % endif
      % if recipe.state == 'DRAFT':
          ${h.form("%spublish" % recipe.url(public=False))}
            <li class="publish btn submit" title="Publish this Recipe"></li>
          ${h.end_form()}
      % endif
      % if h.request.context['user'] == recipe.author:
        ${h.form("%sdelete" % recipe.url())}
          <li class="delete btn submit confirm" title="Delete this Recipe"></li>
        ${h.end_form()}
      % endif
    </ul>

    % if recipe.state == 'PUBLISHED':
      <ul class="badge">
        <li class="first views" title="${h.plural(len(recipe.views), 'View', 'Views', True)}">
          ${len(recipe.views)}
        </li> 
        <li class="copies" title="${h.plural(len(recipe.copies), 'Copy', 'Copies', True)}">
          ${len(recipe.copies)}
        </li> 
      </ul>
    % endif

  </div>

  <h4 class="dates">
    Created on ${h.format_date(recipe.creation_date)}, 
    updated ${h.format_age(recipe.last_updated)}
    % if recipe.copied_from:
      <br /><span class="copied_from">  
        Based on <a href="${recipe.copied_from.url()}">${recipe.copied_from.author.username}'s recipe</a>
      </span>
    % endif
  </h4>
  <h4>
    <b>${recipe.printable_type}</b>,
    ${recipe.style.name if recipe.style else 'No Target Style Chosen'},
    % if recipe.metric:
      ${h.format_volume(recipe.liters)} ${h.plural(recipe.liters, 'Liter', 'Liters', False)} 
    % else:
      ${h.plural(h.format_volume(recipe.gallons), 'Gallon', 'Gallons', True)} 
    % endif
  </h4>
</dt>
