<%
  def printable_type(type):
    return ({
      'MASH'          : 'All-Grain',
      'MINIMASH'      : 'Extract w/ Mini-Mash',
      'EXTRACTSTEEP'  : 'Extract w/ Steeped Grains',
      'EXTRACT'       : 'Extract'
    })[type] 
%>

<%inherit file="../../layout.html" />

<%def name="style()">
    <link rel="stylesheet/less" type="text/css" media="screen" href="/css/recipes/browse.less" />
</%def>

<%def name="javascript()">
</%def>

<br />

<div id="searchbar">
  <ul class="primary clearfix">
    <li class="first">
      <a href="#">Any Style<span class="down"></span></a>
      <ul class="secondary">
        <li>American IPA</li>
        <li>Brown Ale</li>
        <li>Robust Porter</li>
      </ul>
    </li>
    <li class="enabled"><a href="#">All Grain</a></li>
    <li class="enabled"><a href="#">Mini-Mash</a></li>
    <li class="disabled"><a href="#">Extract</a></li>
    <li class="srm">
      <span class="srm srm-12">
        <img src="/images/glass-search.png" height="40" class="glass" />
      </span>
      <span class="down"></span>
      <ul class="secondary srm">
        <li>
          <span class="srm srm-7">
            <img src="/images/glass-search.png" height="40" class="glass" />
          </span>
        </li>
        <li>
          <span class="srm srm-12">
            <img src="/images/glass-search.png" height="40" class="glass" />
          </span>
        </li>
        <li>
          <span class="srm srm-20">
            <img src="/images/glass-search.png" height="40" class="glass" />
          </span>
        </li>
        <li>
          <span class="srm srm-25">
            <img src="/images/glass-search.png" height="40" class="glass" />
          </span>
        </li>
      </ul>
    </li>
    <li class="search">
      <input
        name="search"
        type="search"
        placeholder="Search Recipes..."
        value="${static('search', '')}"
        autosave="com.draughtcraft.search"
        incremental="true" 
        results="5"
      />
    </li>
  </ul>
</div>

<div>
  <table class="results">
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Author</th>
      <th>Style</th>
      <th class="lastchanged">Last Changed</th>
      <th class="views"># Views</th>
    </tr>
    % for r in recipes:
      <tr>
        <td>${printable_type(r.type)}</td>
        <td>
          <a href="${r.url()}">
            ${r.name}
          </a>
        </td>
        <td>
          <a href="/profile/${r.author.username}">
            ${r.author.full_name.strip() or r.author.username}
          </a>
        </td>
        <td>${r.style.name}</td>
        <td class="lastchanged">${h.format_age(r.last_updated)}</td>
        <td class="views">${len(r.views)}</td>
      </tr>
    % endfor
  </table>
</div>
