<%inherit file="../../layout.html" />

<%def name="style()">
    <link rel="stylesheet/less" type="text/css" media="screen" href="/css/recipes/browse.less" />
</%def>

<%def name="javascript()">
    <script type="text/javascript" src="/javascript/jquery.form.min.js"></script>
    <script type="text/javascript" src="/javascript/recipes/browse.js"></script>
</%def>

<div id="searchbar">
  <form method="GET" action="recipes">
    <input type="hidden" name="page" />
    <ul class="primary clearfix">
      <li class="first">
        <span class="placeholder">
          <a href="#">Any Style</a>
        </span>
        <span class="down"></span>
        <ul class="secondary">
          <li>
            <a rel="">Any Style</a>
          </li>
          % for style in styles:
          <li>
            <a rel="${style.id}">${style.name}</a>
          </li>
          % endfor
        </ul>
        <input type="hidden" name="style" />
      </li>
      <li class="btn enabled">
        <a href="#">All Grain</a>
        <input type="hidden" name="mash" />
      </li>
      <li class="btn enabled">
        <a href="#">Mini-Mash</a>
        <input type="hidden" name="minimash" />
      </li>
      <li class="btn enabled">
        <a href="#">Extract</a>
        <input type="hidden" name="extract" />
      </li>
      <li class="srm">
        <span class="placeholder">
          <span class="srm">
            <a rel="">
              <img src="/images/glass-search.png" height="40" class="glass" title="Any Color" />
            </a>
          </span>
        </span>
        <span class="down"></span>
        <ul class="secondary srm">
          <li>
            <span class="srm">
              <a rel="">
                <img src="/images/glass-search.png" height="40" class="glass" title="Any Color" />
              </a>
            </span>
          </li>
          <li>
            <span class="srm srm-7">
              <a rel="light">
                <img src="/images/glass-search.png" height="40" class="glass" title="Light" />
              </a>
            </span>
          </li>
          <li>
            <span class="srm srm-10">
              <a rel="amber">
                <img src="/images/glass-search.png" height="40" class="glass" title="Amber" />
              </a>
            </span>
          </li>
          <li>
            <span class="srm srm-18">
              <a rel="brown">
                <img src="/images/glass-search.png" height="40" class="glass" title="Brown" />
              </a>
            </span>
          </li>
          <li>
            <span class="srm srm-25">
              <a rel="dark">
                <img src="/images/glass-search.png" height="40" class="glass" title="Dark" />
              </a>
            </span>
          </li>
        </ul>
        <input type="hidden" name="color" />
      </li>
      <li class="search">
        <input
          name="search"
          type="search"
          placeholder="Search Recipes..."
          value="${static('search', '')}"
          autosave="com.draughtcraft.search"
          incremental="true" 
          results="5"
        />
      </li>
    </ul>
  </form>
</div>

<div id="results">
  <div class="loading-bar">
    <img src="/images/loading.gif" /> 
  </div>
</div>
