<%def name="heading(key, label)">
  % if order_by == key and direction == 'DESC':
    <th rel="${key}" class="${key} desc">
      <a href="#">
        ${label}
      </a>
    </td>
  % elif order_by == key and direction == 'ASC':
    <th rel="${key}" class="${key} asc">
      <a href="#">
        ${label}
      </a>
    </td>
  % else:
    <th rel="${key}" class="${key}">
      <a href="#">
        ${label}
      </a>
    </td>
  % endif
</%def>

% if recipes:
  <table class="results">
    <tr>
      ${heading('srm', 'Color')}
      ${heading('type', 'Type')}
      ${heading('name', 'Name')}
      ${heading('author', 'Author')}
      ${heading('style', 'Style')}
      ${heading('last_updated', 'Last Updated')}
      ${heading('views', '# Views')}
    </tr>
    % for i, r in enumerate(recipes):
      <tr class="${'' if i % 2 == 0 else 'odd'}">
        <td class="srm srm-${min(30, int(r.color))}">
          <span class="block" title="${int(round(r.color))} ${r.metric_unit}"></a>
        </td>
        <td>${r.printable_type}</td>
        <td class="name">
          <a href="${r.url}">
            ${r.name}
          </a>
        </td>
        <td class="author">
          <a href="/profile/${r.username}">
            <img 
              src="${r.gravatar}&s=16" 
              class="gravatar"
              title="${r.username}"
            />
            ${r.username}
          </a>
        </td>
        <td>
          % if r.style_name:
            <a href="${r.style_url}" target="window">
              ${r.style_name}
            </a>
          % else:
            No Style Chosen
          % endif
        </td>
        <td class="last_updated">${h.format_age(r.last_updated)}</td>
        <td class="views">${r.views}</td>
      </tr>
    % endfor
  </table>

  % if pages > 1:
    <div class="pages">
      Page: 
      % for i in range(pages):
        % if current_page == i+1:
          <span class="selected">${i+1}</span>
        % else:
          <a href="#">${i+1}</a>
        % endif
      % endfor
      <span class="totals">
        Showing <b>${max(offset, 1)}</b> - <b>${min(int(offset + perpage), total)}</b> of <b>${total}</b>
      </span>
    </div>
  % endif

% else:
  <div class="empty">
    <p>Sorry, no matching recipes were found.</p>
  </div>
% endif
