<%
  def printable_type(type):
    return ({
      'MASH'          : 'All-Grain',
      'MINIMASH'      : 'Extract w/ Mini-Mash',
      'EXTRACTSTEEP'  : 'Extract w/ Steeped Grains',
      'EXTRACT'       : 'Extract'
    })[type] 
%>

<%def name="heading(key, label)">
  % if order_by == key and direction == 'DESC':
    <th rel="${key}" class="${key} desc">
      <a href="#">
        ${label}
      </a>
    </td>
  % elif order_by == key and direction == 'ASC':
    <th rel="${key}" class="${key} asc">
      <a href="#">
        ${label}
      </a>
    </td>
  % else:
    <th rel="${key}" class="${key}">
      <a href="#">
        ${label}
      </a>
    </td>
  % endif
</%def>

% if recipes:
  <table class="results">
    <tr>
      ${heading('type', 'Type')}
      ${heading('name', 'Name')}
      ${heading('author', 'Author')}
      ${heading('style', 'Style')}
      ${heading('last_updated', 'Last Updated')}
      ${heading('views', '# Views')}
    </tr>
    % for i, r in enumerate(recipes):
      <tr class="${'' if i % 2 == 0 else 'odd'}">
        <td>${printable_type(r.type)}</td>
        <td>
          <a href="${r.url()}">
            ${r.name}
          </a>
        </td>
        <td class="author">
          <a href="/profile/${r.author.username}">
            <img 
              src="${r.author.gravatar}&s=16" 
              class="gravatar"
              title="${r.author.username}"
            />
            ${r.author.full_name.strip() or r.author.username}
          </a>
        </td>
        <td>${r.style.name if r.style else 'No Style Chosen'}</td>
        <td class="last_updated">${h.format_age(r.last_updated)}</td>
        <td class="views">${len(r.views)}</td>
      </tr>
    % endfor
  </table>

  % if pages > 1:
    <div class="pages">
      Page: 
      % for i in range(pages):
        % if current_page == i+1:
          <span class="selected">${i+1}</span>
        % else:
          <a href="#">${i+1}</a>
        % endif
      % endfor
    </div>
  % endif

% else:
  <div class="empty">
    <p>Sorry, no matching recipes were found.</p>
  </div>
% endif
