<%
  def printable_type(type):
    return ({
      'MASH'          : 'All-Grain',
      'MINIMASH'      : 'Extract w/ Mini-Mash',
      'EXTRACTSTEEP'  : 'Extract w/ Steeped Grains',
      'EXTRACT'       : 'Extract'
    })[type] 
%>

% if recipes:
  <table class="results">
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Author</th>
      <th>Style</th>
      <th class="lastchanged">Last Changed</th>
      <th class="views"># Views</th>
    </tr>
    % for r in recipes:
      <tr>
        <td>${printable_type(r.type)}</td>
        <td>
          <a href="${r.url()}">
            ${r.name}
          </a>
        </td>
        <td>
          <a href="/profile/${r.author.username}">
            ${r.author.full_name.strip() or r.author.username}
          </a>
        </td>
        <td>${r.style.name}</td>
        <td class="lastchanged">${h.format_age(r.last_updated)}</td>
        <td class="views">${len(r.views)}</td>
      </tr>
    % endfor
  </table>
% else:
  <div class="empty">
    <p>Sorry, no matching recipes were found.</p>
  </div>
% endif
