<html>
  <head>
    <title>
      DraughtCraft - Social Brewing
      % if self.title():
        - ${self.title()}
      % endif
    </title>

      <!-- page layout and style -->
      <link rel="stylesheet" type="text/css" media="screen" href="/css/base.css" />
      <link rel="stylesheet/less" type="text/css" media="screen" href="/css/global.less" />
      <link rel="stylesheet" type="text/css" media="screen" href="/css/tiptip.css" />
      ${self.style()}
  
      <!-- page javascript -->
      <script type="text/javascript" src="/javascript/jquery.min.js" ></script>
      <script type="text/javascript" src="/javascript/shared.js"></script>
      <script type="text/javascript" src="/javascript/jquery.tiptip.js"></script>
      <script type="text/javascript" src="/javascript/less-1.1.0.min.js"></script>

      ${self.javascript()}
  </head>
  <body>

    <nav id="topnav">
      <div class="logo">
        <img src="/images/logo.png" />
      </div>
      <ul>
        <li>
          <a href="#">People</a>
        </li>
        <li>
          <a href="#">Recipes</a>
        </li>
        <li>
          <a href="#">Sign In</a>
        </li>
        <li>
          <input type="search" placeholder="Search People, Recipes..." autosave="com.draughtcraft.search" incremental="true" results="5" />
        </li>
      </ul>
    </nav>

    <div id="content">
      <div id="content-inner">
        ${self.body()}
      </div>
    </div>

    ${self.footer()}

  </body>
</html>

<%def name="title()">
    
</%def>

<%def name="style()">
</%def>

<%def name="javascript()">
</%def>

<%def name="footer()">
  <footer>
  <p>
    <a href="#">About</a> 
    <a href="#">Contact</a> 
    <a href="#">Donate</a> 
    <a href="http://github.com/ryanpetrello/draughtcraft" target="window">Open Source</a>
  </p>
  </footer>
</%def>
