<html>
  <head>
    <title>
      DraughtCraft - ${self.title()}
    </title>

      <!-- page layout and style -->
      <link rel="stylesheet" type="text/css" media="screen" href="/css/base.css" />
      <link rel="stylesheet/less" type="text/css" media="screen" href="/css/global.less" />
      <link rel="stylesheet" type="text/css" media="screen" href="/css/tiptip.css" />
      ${self.style()}
  
      <!-- page javascript -->
      <script type="text/javascript" src="/javascript/jquery.min.js" ></script>
      <script type="text/javascript" src="/javascript/shared.js"></script>
      <script type="text/javascript" src="/javascript/jquery.tiptip.js"></script>
      <script type="text/javascript" src="/javascript/less-1.1.0.min.js"></script>

      ${self.javascript()}
  </head>
  <body>

    % if h.request.context['user']:
      <nav class="user">
        <ul>
          <li>
          <img src="${h.request.context['user'].gravatar}?s=140"
            width="20"
            class="gravatar"
          />
          </li>
          <li>${h.request.context['user'].username}</li>
          <li><a href="/">dashboard</a></li>
          <li><a href="/">settings</a></li>
          <li><a href="/logout">logout</a></li>
        </ul>
      </nav>
    % endif

    <nav id="topnav">
      <div class="logo">
        <a href="/"><img src="/images/logo.png" /></a>
      </div>
      <ul>
        <li>
          <a href="#">People</a>
        </li>
        <li>
          <a href="#">Recipes</a>
        </li>
        % if h.request.context['user'] is None:
          <li>
            <a href="/login">Sign In</a>
          </li>
        % endif
        <li>
          <input
            name="search"
            type="search"
            placeholder="Search People, Recipes..."
            value="${static('search', '')}"
            autosave="com.draughtcraft.search"
            incremental="true" 
            results="5"
          />
        </li>
      </ul>
    </nav>

    <div id="content">
      <div id="content-inner">
        ${self.body()}
      </div>
    </div>

    ${self.footer()}

  </body>
</html>

<%def name="title()">Social Brewing</%def>

<%def name="style()"></%def>

<%def name="javascript()"></%def>

<%def name="footer()">
  <footer>
  <p>
    <a href="#">About</a> 
    <a href="#">Contact</a> 
    <a href="#">Donate</a> 
    <a href="http://github.com/ryanpetrello/draughtcraft" target="window">Open Source</a>
  </p>
  </footer>
</%def>
