<html>
  <head>
    <title>
      DraughtCraft - ${self.title()}
    </title>

      <!-- page layout and style -->
      ${h.css('/css/base.css')}
      ${h.css('/css/global.css')}
      ${h.css('/css/tiptip.css')}
      ${h.css('/css/jquery.fancybox.css')}
      ${self.style()}
      ${h.compiled_css()}
      <style type="text/css">
        @-moz-document url-prefix() { button.ribbon:before  { left: -33px; } }
      </style>
  
      <!-- page javascript -->
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" ></script>
      ${h.js('/javascript/shared.js')}
      ${h.js('/javascript/jquery.tiptip.js')}
      ${h.js('/javascript/jquery.fancybox.js')}
      ${self.javascript()}

      <meta name="description" content="Draughtcraft is a simple online community and recipe builder for home brewing hobbyists.">
      <meta name="keywords" content="homebrew, home brew, beer making, brewing, recipe, software">

      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27327677-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>

      <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

  </head>
  <body>

    % if h.request.context['user']:
      <nav class="user">
        <ul>
          <li>
            <a href="/settings/profile" class="profile">
              <img src="${h.request.context['user'].gravatar}&s=20"
                width="20"
                class="gravatar"
              />
            </a>
          </li>
          <li>
            <a href="/profile/${h.request.context['user'].username}" class="profile">
              ${h.request.context['user'].username}
            </a>
          </li>
          <li><a href="/settings/profile">Settings</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    % else:
      <nav class="user">
        <ul>
          <li>
            <a href="/login">
              <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?s=140&d=404"
                width="20"
                class="gravatar"
              />
            </a>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    % endif

    <nav id="topnav">
      <div class="logo">
        <a href="/"><img src="/images/logo.png" /></a>
      </div>
      <ul>
        % if h.request.context['user']:
          <li>
            <a href="/recipes/create">New Recipe</a>
          </li>
        % endif
        <li>
          <a href="/recipes">Find Recipes</a>
        </li>
        % if h.request.context['user'] is None:
          <li>
            <a href="/signup" class='signup'>Sign Up</a>
          </li>
        % endif
      </ul>
    </nav>

    <div id="content">
      <div id="content-inner">
        ${self.body()}
      </div>
    </div>

    ${self.footer()}
    ${h.compiled_javascript()}

    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/ZOKcBStjQcuTNpYY3fDg.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
  </body>
</html>

<%def name="title()">Simple, Free Home Brewing Software</%def>

<%def name="style()"></%def>

<%def name="javascript()"></%def>

<%def name="footer()">
  <footer>
    <div style="display:none;">
      <div id="about-box">
        <div class="logo">
          <img src="/images/logo.png" width="200" />
        </div>
        <p>
          Brewing isn't complicated.  Making your own recipes doesn't have to
          be, either.  Draughtcraft is hassle-free software built for
          hobbyists, not professional breweries.
        </p>
        <p class="question">
          <b>How much does this cost?</b><br />
          Draughtcraft is totally free during its beta period.  Pricing for
          optional premium accounts will be announced soon.
        </p>
        <p class="question">
          <b>Do I need to sign up for an account to build recipes?</b><br />
          No, but it's free to sign up at any time and take advantage of
          additional tools available to members only.
        </p>
        <p class="question">
          <b>But Draughtcraft doesn't let me __________!</b><br />
          Sometimes less is more.  Draughtcraft strives to provide an effortless
          platform for tinkering with, cataloguing, and sharing your favorite
          recipes.
        </p>
        <p class="question nobg">
          If you've got an interesting idea for a feature not currently offered,
          submit it to our <a href="http://draughtcraft.uservoice.com/"
            target="window">feedback forum</a>.
        </p>
      </div>
    </div>

    <p>
      <a href="#about-box">About</a> 
      <a href="http://draughtcraft.uservoice.com/" target="window">Feedback</a>
      <a href="http://blog.draughtcraft.com" target="window">Blog</a>
      <a href="#" class="email" rel="moc.tfarcthguard@nayr">Contact</a> 
      <a href="http://twitter.com/draughtcraftapp" target="window">
        <img src="/images/twitter.png" height="22" />
      </a> 
    </p>
  </footer>
</%def>
