<%inherit file="layout.html" />

<%def name="title()">Login</%def>

<%def name="style()">
    <link rel="stylesheet/less" type="text/css" media="screen" href="/css/thin.less" />
    <link rel="stylesheet/less" type="text/css" media="screen" href="/css/login.less" />
</%def>

<%def name="javascript()">
    
    <script type="text/javascript">
        $(function(){
            $('input[name="username"]').focus();
        });
    </script>

</%def>

<h1>
  % if welcome:
    Welcome to the DraughtCraft community.
  % else:
    Login
  % endif
</h1>

<div class="clearfix">

  ${h.notices.render()}

  % if welcome:
    <div class="buttons">
      <button class="ribbon notice-general" tabindex="4">
        Thanks for signing up!  Go ahead and log in.
      </button>
    </div>
  % endif

  ${h.form('')}
    <fieldset>
      <dl class="clearfix">
        <dt><label for="name">Username</label></dt>
        <dd>
          ${h.text(
            'username', 
            tabindex = '1', 
            size = '256'
          )}
        </dd>
        <dt><label for="name">Password</label></dt>
        <dd>
          ${h.password(
            'password', 
            tabindex = '2', 
            value = static('password', ''),
            size = '256'
          )}
        </dd>
      </dl>
    </fieldset>

    <div class="buttons">
      <button class="ribbon" tabindex="4">
        Login
      </button>
      <a href="/forgot" tabindex="5">Forget Your Password?</a>
    </div>

  ${h.end_form()}

  <div class="info">
    % if welcome:
      <h4>Craft Your Own</h4>
      <p>
        Build, store and share your recipes in an online, managed
        platform made <strong>especially</strong> for homebrew enthusiasts.
      </p>
      <p>To get started, log in now.</p>
    % else:
      <h4>Become a Member</h4>
      <p>
        DraughtCraft members can save, share, and organize their recipes online.
        Best all of, signing up is easy and free!
      </p>
      <p>
        <a href="/signup" tabindex="6">Sign Up Now</a>
      </p>
    % endif
  </div>

</div>
