/*
 * General page styles
 */
body  {
  background: #55AEC7;
  border-top: 10px solid #358EA7;
}
p  {
  padding-bottom: 1em;
}
a  {
  color: #607890;
}
nav  {
  color: #FFF;
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
nav ul  {
  padding: 10px 15px;
  overflow: hidden;
  float: right;
}
nav ul li  {
  float: left;
  line-height: 50px;
  padding-left: 12px;
}
nav ul li input  {
  margin-top: 15px;
  width: 200px;
}
nav div.logo  {
  position: absolute;
  top: 10px;
  left: 5px;
}
nav div.logo strong  {
  font-weight: normal;
  color: #EFFFAE;
}
nav div.logo img  {
  height: 50px;
  padding-right: 2px;
  vertical-align: middle;
}
nav ul a, nav ul a:visited  {
  color: #EFFFAE;
}
nav ul a:hover  {
  color: #FFF;
}
h1  {
  font-size: 1.85em;
  line-height: 2.8em;
}
h2  {
  font-size: 1.25em;
  line-height: 2.5em;
}
h3  {
  font-size: 1.05em;
  line-height: 2.5em;
}

/*
 * Main page layout
 */
#content  {
  clear: both;
  width: 1000px;
  margin: 0 auto;
  background: #F0F0F0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
#content-inner  {
  padding: 0 25px;
}

/*
 * Footer
 */
footer  {
  text-align: center;
  background: #55AEC7;
  color: #FFF;
  padding: 15px 0;
}
footer a  {
  color: #FFF !important;
}
