/*
 * Mixins
 */
.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

nav.user, #topnav, #content  {
  width: 800px;
}

#content  {

  /* Content-level selectors */

  h1  {
    padding: .5em;
    line-height: 60px;
    text-align: left !important;
    vertical-align: middle;
    img  {
      padding: 2px;
      background: #FFF;
      border: 1px solid #CCC;
      vertical-align: middle;
      margin-right: .25em;
    }
  }
  #content-inner  {
    padding: 0;
  }
  #content-inner > div  {
    background: #FFF;
    padding: 0;
    .border-radius(10px);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
  }

  h2  {
    position: relative;
    top: 5px;
    left: 15px;
  }

  dl.profile  {
    padding: 15px;
    display: block;
    float: left;
    dt, dd  {
      float: left;
      padding-bottom: 10px;
    }
    dt  {
      color: #999;
      width: 125px;
      clear: left;
    }
  }

  dl.recipes  {
    padding: 15px;
    float: left;

    dt  {
      &.empty  {
        padding-left: 50px;
      }
      &.recipe  {
        border: 1px solid #E8E8E8; 
        background: #F5F5F5;
        .border-radius(10px);
        min-width: 535px;
        margin-bottom: 15px;
        span.srm  {
          padding: 10px 0 0 10px;
          margin-right: 15px;
          background: #55AEC7;
          border-right: 1px solid #459EB7;
          border-top: 1px solid #459EB7;
          border-bottom: 1px solid #459EB7;
          display: inline-block;
          float: left;
          .border-radius(10px);
          -moz-border-radius-topright: 0;
          -moz-border-radius-bottomright: 0;
          -webkit-border-top-right-radius: 0;
          -webkit-border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        img  {
          margin: 0 10px 10px 0
        }
        h3, h4  {
          line-height: 18px;
          font-size: 1.15em;
        }
        h3  {
          padding-top: 10px;
        }
        h4  {
          font-weight: normal;
          color: #A9A9A9;
          font-size: 1em;
        }
      }
    }
  }

}
