body  {
  line-height: 1.75em;
  color: #FFF;
  background: -moz-linear-gradient(
    top,
    #333,
    #222 15%,
    #000
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#333),
    color-stop(.15, #222),
    to(#000)
  );
}
p, input, td  {
  font-size: 1.1em;
}
h1  {
  font-size: 2.75em;
  line-height: 1.8em;
  padding: 15px 0;
}
h1 span.beer-color  {
  color: #F7B400;
}
h2  {
  font-size: 2em;
  line-height: 1em;
  color: #FFFFAA;
}
h2.inline  {
  display: inline;
  vertical-align: middle;
  padding-right: 5px;
}

/* Top Header and Navigation */
nav#topnav  {
  border-bottom: 5px solid #333;
  min-height: 40px;
  padding: 0 3.8em;
  background: -moz-linear-gradient(
    top,
    #2F2F2F,
    #151515
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#2F2F2F),
    to(#151515)
  );
}
nav#topnav a  {
  color: #FFFFAA;
}
nav#topnav ul  {
  float: right;
  padding: 20px 0;
}
nav#topnav ul li  {
  float: left;
}
nav#topnav h1  {
  display: inline-block;
}

/* Chalkboard Styles */
div#content  {
  margin: 1em 1.7em; 
  padding: 22px;
  background: -moz-linear-gradient(
    top,
    #613B27,
    #331F17
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#613B27),
    to(#331F17)
  );
  border-radius: 10px;
  -moz-border-radius: 10px;
  -moz-box-shadow: 0 0 7px 3px rgba(0, 0, 0, .6);
  -webkit-box-shadow: 0 0 7px 3px rgba(0, 0, 0, .6);
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, .6);
  max-width: 1200px;
  position: relative;
  z-index: 1;
  overflow: hidden
}
div#content:before  {
  content:"";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('/images/wood-overlay.jpg') center center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  opacity: .80;
}
div#content-inner  {
  color: #FFF;
  padding: 20px;
  padding-top: 5px;
  background: -moz-linear-gradient(
    top,
    #666,
    #111
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#666),
    to(#1A1A1A)
  );
  border-radius: 2px;
  -moz-border-radius: 2px;
  -moz-box-shadow: inset 0 0 4px 4px rgba(30, 30, 30, .7);
  -webkit-box-shadow: inset 0 0 4px 4px rgba(30, 30, 30, .7);
  border: 1px solid rgba(0, 0, 0, .7);
  min-height: 400px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
div#content-inner:before  {
  content:"";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('/images/chalk-overlay.png') bottom left;
  border-radius: 2px;
  -moz-border-radius: 2px;
  opacity: .35;
}

/* Canvas and SRM */
div#srm-canvas  {
  float: right;
  font-size: 6em;
  padding-top: 12px;
  padding-right: 15px;
}

/* Chalkboard Ledge */
#ledge {
  position: absolute;
  background: url(/images/chalk-sprites.png) no-repeat 0 0;
  width: 266px;
  height: 107px;
  margin: 0;
  padding: 0;
  bottom: 0;
  right: 0;
}
#ledge div.chalk {
  position: absolute;
  bottom: 30px;
  background-image: url(/images/chalk-sprites.png);
  background-repeat: no-repeat;
  background-position-x: 1px;
  width: 110px;
  height: 32px;
  background-position: 0 -113px;
  z-index: 1;
}
#ledge div.chalk.white  {
  background-position: 0 -151px;
  left: 45;
  z-index: 2;
}
#ledge div.eraser {
  width: 140px;
  height: 42px;
  background-position: 0 -183px;
  left: 110px;
}
  

/* Chalkboard Layout */
div#content-inner div.step  {
  width: 48%;
  margin-right: 2%;
  float: left;
}
div#content-inner .step .number  {
  color: #FFF;
}
div#content-inner div.divider  {
  clear: left;
  padding: 20px 0;
}

div#content-inner div.opaque, div#content-inner #notes  {
  position: relative;
  z-index: 1;
  margin: 15px 0;
}
div#content-inner div.opaque p  {
  padding: 15px;
}
div#content-inner #notes  {
  padding: 0;
}
div#content-inner #notes textarea  {
  border: 0;
  background: transparent;
  padding: 15px;
  color: #FFF;
  width: 100%;
  height: 165px;
  font-family: "CabinSketch";
  font-weight: 100;
  font-size: 1.2em;
}
div#content-inner #notes textarea:focus  {
  outline-width: 0;
}
div#content-inner div.opaque:before, div#content-inner #notes:before  {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: .15;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

/* Ingredient UI Styles */
div#content-inner label  {
  cursor: default;
}
div#content-inner .control  {
  font-family: "CabinSketch";
  font-size: 1.3em;
  vertical-align: middle;
}
div#content-inner .control.blue  {
  color: #96A0C3;
}
div#content-inner .control.orange  {
  color: #BCA281;
}
div#content-inner .control.yellow  {
  color: #FFFFAA;
}
div#content-inner .control.purple  {
  color: #A98BAA;
}
div#content-inner .control.red  {
  color: #BF7E8B;
}
div#content-inner .control.plus  {
  font-size: 2em;
  line-height: .6em;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  background: 0;
  color: #FFF;
}
div#content-inner .control.plus:hover  {
  color: #FFFFAA;
}
div#content-inner table tr.addition td  {
  padding: 2px 5px;
}
div#content-inner div.ingredient-list tr.addition.even  {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
div#content-inner div.ingredient-list tr.addition.even td:before  {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  height: 24px;
  margin-top: -5px;
  background: #000;
  opacity: .03;
}
div#content-inner div.ingredient-list tr.addition td  {
  padding: 5px;
}
div#content-inner input  {
  border: 0;
  background: transparent;
  border-bottom: 1px solid #CCC;
  color: #FFF;
  font-family: "CabinSketch";
}
div#content-inner input:focus  {
  outline-width: 0;
}
input.unit  {
  width: 30px;
  text-align: center;
}

/* SRM Colors */
#srm-canvas.srm-1  { color: #F3F993; }
#srm-canvas.srm-2  { color: #F5F75C; }
#srm-canvas.srm-3  { color: #F6F513; }
#srm-canvas.srm-4  { color: #EAE615; }
#srm-canvas.srm-5  { color: #E0D01B; }
#srm-canvas.srm-6  { color: #D5BC26; }
#srm-canvas.srm-7  { color: #CDAA37; }
#srm-canvas.srm-8  { color: #C1963C; }
#srm-canvas.srm-9  { color: #BE8C3A; }
#srm-canvas.srm-10 { color: #BE823A; }
#srm-canvas.srm-11 { color: #C17A37; }
#srm-canvas.srm-12 { color: #BF7138; }
#srm-canvas.srm-13 { color: #BC6733; }
#srm-canvas.srm-14 { color: #B26033; }
#srm-canvas.srm-15 { color: #A85839; }
#srm-canvas.srm-16 { color: #985336; }
#srm-canvas.srm-17 { color: #8D4C32; }
#srm-canvas.srm-18 { color: #7C452D; }
#srm-canvas.srm-19 { color: #6B3A1E; }
#srm-canvas.srm-20 { color: #5D341A; }
#srm-canvas.srm-21 { color: #4E2A0C; }
#srm-canvas.srm-22 { color: #4A2727; }
#srm-canvas.srm-23 { color: #361F1B; }
#srm-canvas.srm-24 { color: #261716; }
#srm-canvas.srm-25 { color: #231716; }
#srm-canvas.srm-26 { color: #19100F; }
#srm-canvas.srm-27 { color: #16100F; }
#srm-canvas.srm-28 { color: #120D0C; }
#srm-canvas.srm-29 { color: #100B0A; }
#srm-canvas.srm-30 { color: #050B0A; }
