body  {
  line-height: 1.75em;
  color: #FFF;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#333),
    color-stop(.15, #222),
    to(#000)
  );
}
nav#topnav  {
  background: #191919;
  border-bottom: 5px solid #333;
  min-height: 40px;
  padding: 5px 3.8em 0;
}
nav#topnav a  {
  color: #EEEEAA;
}
h1  {
  font-size: 1.5em;
  line-height: 1.8em;
}
h1 span.beer-color  {
  color: #F7B400;
}
h2  {
  font-size: 1.3em;
  line-height: 1.3em;
  font-family: "Eraser";
  color: #EEEEAA;
  text-shadow: rgba(255, 255, 255, .2) 2px 0 2px;
}
h2.inline  {
  display: inline;
  vertical-align: middle;
  padding-right: 5px;
}

/* Chalkboard Styles */
div#content  {
  margin: 1em 1.7em; 
  padding: 22px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#613B27),
    to(#331F17)
  );
  border-radius: 10px;
  -moz-border-radius: 10px;
  -moz-box-shadow: 0 0 7px 3px rgba(0, 0, 0, .6);
  -webkit-box-shadow: 0 0 7px 3px rgba(0, 0, 0, .6);
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, .6);
  max-width: 1200px;
  position: relative;
  z-index: 1;
  overflow: hidden
}
div#content:before  {
  content:"";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('/images/wood-overlay.jpg') bottom center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  opacity: .80;
}
div#content-inner  {
  color: #FFF;
  padding: 20px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#666),
    to(#222)
  );
  border-radius: 2px;
  -moz-border-radius: 2px;
  -moz-box-shadow: 0 0 1px 1px #333;
  -webkit-box-shadow: inset 0 0 4px 4px rgba(30, 30, 30, .7);
  border: 1px solid rgba(0, 0, 0, .7);
  box-shadow: 0 0 1px 1px #333;
  min-height: 400px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
div#content-inner:before  {
  content:"";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('/images/chalk-overlay.png') bottom left;
  border-radius: 2px;
  -moz-border-radius: 2px;
  opacity: .35;
}

/* Chalkboard Ledge */
#ledge {
  position: absolute;
  background: url(/images/chalk-sprites.png) no-repeat 0 0;
  width: 266px;
  height: 107px;
  margin: 0;
  padding: 0;
  bottom: 0;
  right: 0;
}
#ledge div.chalk {
  position: absolute;
  bottom: 30px;
  background-image: url(/images/chalk-sprites.png);
  background-repeat: no-repeat;
  background-position-x: 1px;
  width: 110px;
  height: 32px;
  background-position-y: -113px;
  z-index: 1;
}
#ledge div.chalk.white  {
  background-position-y: -151px;
  left: 45;
  z-index: 2;
}
  

/* Chalkboard Layout */
div#content-inner div.step  {
  width: 45%;
  margin-right: 5%;
  float: left;
}
div#content-inner .step .number  {
  color: #FFF;
}
div#content-inner div.divider  {
  clear: left;
  padding: 20px 0;
}

div#content-inner div.opaque  {
  padding: 15px;
  position: relative;
  z-index: 1;
  margin: 15px 0;
}
div#content-inner div.opaque:before  {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: .15;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

/* Ingredient UI Styles */
div#content-inner label  {
  cursor: default;
}
div#content-inner .control  {
  font-family: "Eraser";
  font-size: 1em;
  vertical-align: middle;
}
div#content-inner .control.blue  {
  color: #96A0C3;
}
div#content-inner .control.orange  {
  color: #BCA281;
}
div#content-inner .control.yellow  {
  color: #EEEEAA;
}
div#content-inner .control.purple  {
  color: #A98BAA;
}
div#content-inner .control.red  {
  color: #BF7E8B;
}
div#content-inner .control.plus  {
  font-size: 2em;
  cursor: pointer;
}
div#content-inner .control.plus:hover  {
  color: #EEEEAA;
}
div#content-inner table tr.addition td  {
  padding: 2px 5px;
}
div#content-inner div.opaque input  {
  border: 0;
  background: transparent;
  border-bottom: 1px solid #FFF;
  color: #FFF;
}
div#content-inner div.opaque input:focus  {
  outline-width: 0;
}
input.unit  {
  width: 30px;
  text-align: center;
}
