body  {
  line-height: 1.75em;
  color: #FFF;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#333),
    color-stop(.15, #222),
    to(#000)
  );
}
header  {
  padding: 1em 3em 0;
}
h1  {
  font-size: 2.5em;
  line-height: 2em;
}
h1 span.beer-color  {
  color: #F7B400;
}
h2  {
  font-size: 1.3em;
  line-height: 1.3em;
  font-family: "Eraser";
}

/* Chalkboard Styles */
div#content  {
  margin: 1em 2em; 
  padding: 15px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#613B27),
    to(#331F17)
  );
  border-radius: 8px;
  -moz-border-radius: 8px;
  -moz-box-shadow: 0 0 7px 3px rgba(0, 0, 0, .6);
  -webkit-box-shadow: 0 0 7px 3px rgba(0, 0, 0, .6);
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, .6);
  max-width: 1200px;
  position: relative;
  z-index: 1;
}
div#content:before  {
  content:"";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('/images/frame-overlay.jpg') bottom left;
  border-radius: 8px;
  -moz-border-radius: 8px;
  opacity: .80;
}
div#content-inner  {
  color: #FFF;
  padding: 20px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1A6F61),
    to(#002517)
  );
  border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 0 1px 1px #333;
  -webkit-box-shadow: inset 0 0 3px 3px rgba(30, 30, 30, .5);
  -webkit-box-shadow: inset 0 0 3px 3px rgba(30, 30, 30, .5);
  border: 1px solid rgba(0, 0, 0, .7);
  box-shadow: 0 0 1px 1px #333;
  min-height: 400px;
  position: relative;
  z-index: 1;
}
div#content-inner:before  {
  content:"";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('/images/chalk-overlay.png') bottom left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  opacity: .25;
}

/* Chalkboard Layout */
div#content-inner div.step  {
  width: 33%;
  float: left;
}

