<%inherit file="layout.html" />

<%def name="title()">
    Beer Parts
</%def>

  <nav id="topnav">
    <h1>Beer<span class="beer-color">Parts</span></h1>
    <ul>
      <li>
        <a href="#">Sign In</a>
      </li>
    </ul>
  </nav>

  <header>
  </header>

  <div id="content">
    <div id="content-inner">

      <div id="ledge">
        <div class="chalk"></div>
        <div class="chalk white"></div>
        <div class="chalk eraser"></div>
      </div>

      <%include file="recipes/builder/index.html" />

    </div>
  </div>
