<%inherit file="layout.html" />

<%def name="title()">
    Beer Parts
</%def>

  <nav id="topnav">
  <h1>Beer<span class="beer-color">Parts</span></h1>
  </nav>

  <header>
  </header>

  <div id="content">
    <div id="content-inner">

      <div class="step">
        <h2 class="inline">Target Style: </h2>

        <select>
          <option>American Amber Ale</option>
        </select>

      </div>

      <div class="step">
        <h2 class="inline">Volume: </h2>
        <select>
          <option>5G</option>
        </select>
      </div>

      <div class="divider" />

      <div class="step"> 
        <h2>Mash</h2>

        <div class="opaque">
          <p>
            Choose one or more fermentables below.
          </p>
        </div>

        <table>
          <tr class="addition">
            <td>
              <label class="control">Malt:</label>
            </td>
            <td>
              <select>
                <option>(US) 2-Row Barley</option>
              </select>
            </td>
            <td>
              <span class="control plus"> + </span>
            </td>
          </tr>
        </table>

      </div>

      <div class="step">
        <h2>Boil</h2>

        <div class="opaque">
          <p>
            Choose one or more boil additions below.
          </p>
        </div>

        <table>
          <tr class="addition">
            <td>
              <label class="control">Hops:</label>
            </td>
            <td>
              <select>
                <option>(US) Cascade</option>
              </select>
            </td>
            <td>
              <span class="control plus"> + </span>
            </td>
          </tr>
          
          <tr class="addition">
            <td>
              <label class="control">Misc:</label>
            </td>
            <td>
              <select>
                <option>Whirlfloc Tablet</option>
              </select>
            </td>
            <td>
              <span class="control plus"> + </span>
            </td>
          </tr>
        </table>

      </div>

      <div class="step">
        <h2>Ferment</h2>

        <div class="opaque">
          <p>
            Choose yeast(s) for fermentation.
          </p>
        </div>

        <table>
          <tr class="addition">
            <td>
              <label class="control">Yeast:</label>
            </td>
            <td>
              <select>
                <option>Wyeast 1056 - American Ale</option>
              </select>
            </td>
            <td>
              <span class="control plus"> + </span>
            </td>
          </tr>
        </table>

        <div class="opaque">

          <table>
            <tr class="addition">
              <td>
                <label>Primary:</label>
              </td>
              <td>
                <input type="text" name="primary" class="unit" />
              </td>
              <td>
                <select>
                  <option>Day(s)</option>
                  <option>Week(s)</option>
                </select>
              </td>
            </tr>
            <tr class="addition">
              <td>
                <label>Secondary:</label>
              </td>
              <td>
                <input type="text" name="secondary" class="unit" />
              </td>
              <td>
                <select>
                  <option>Day(s)</option>
                  <option>Week(s)</option>
                </select>
              </td>
            </tr>
          </table>

        </div>
        
      </div>

    </div>
  </div>
