<html>
  <head>
      <title>${self.title()}</title>
      ${self.style()}
      ${self.javascript()}
  </head>
  <body>
    ${self.body()}
  </body>
</html>

<%def name="title()">
    Default Title
</%def>

<%def name="style()">
    <!-- page layout and style -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
</%def>

<%def name="javascript()">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" ></script>
    <script type="text/javascript" src="/javascript/cufon-yui.js"></script>
    <script type="text/javascript" src="/javascript/CabinSketch_700.font.js"></script>
    <script type="text/javascript" src="/javascript/shared.js"></script>
    <script type="text/javascript">
			Cufon.replace('h1, h2, label, p, div#srm-canvas');
    </script>
</%def>
