<html>
  <head>
      <title>${self.title()}</title>

      <!-- page layout and style -->
      <link rel="stylesheet" type="text/css" media="screen" href="/css/base.css" />
      <link rel="stylesheet" type="text/css" media="screen" href="/css/global.css" />
      ${self.style()}
  
      <!-- page javascript -->
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" ></script>
      <script type="text/javascript" src="/javascript/shared.js"></script>

      ${self.javascript()}
  </head>
  <body>

    <nav id="topnav">
      <ul>
        <li>
          BrewPlot
        </li>
        <li>
          <a href="#">Recipes</a>
        </li>
        <li>
          <a href="#">Styles</a>
        </li>
        <li>
          <a href="#">Ingredients</a>
        </li>
        <li>
          <a href="#">Sign In</a>
        </li>
      </ul>
    </nav>

    <div id="content">
      ${self.body()}
    </div>

    ${self.footer()}

  </body>
</html>

<%def name="title()">
    Default Title
</%def>

<%def name="style()">
</%def>

<%def name="javascript()">
</%def>

<%def name="footer()">
  <footer>
  <p>
    <a href="#">About</a> 
    <a href="#">Contact</a> 
    <a href="#">Donate</a> 
    <a href="#">Open Source</a>
  </p>
  </footer>
</%def>
