<div class="step">
  <h2>2. Boil</h2>

  <div class="opaque">
    <p>
      Choose one or more boil additions below.
    </p>
  </div>

  <table>
    <tr class="addition">
      <td>
        <label class="control">Hops:</label>
      </td>
      <td>
        ${h.select(
          'add-hop', 
          None, 
          sorted([(hop.id, hop.printed_name) for hop in h.model.Hop.query.all()], key = lambda hop: hop[1])
        )}
      </td>
      <td>
        <span class="control plus"> + </span>
      </td>
    </tr>
    
    <tr class="addition">
      <td>
        <label class="control">Misc:</label>
      </td>
      <td>
        <select>
          <option>Whirlfloc Tablet</option>
        </select>
      </td>
      <td>
        <span class="control plus"> + </span>
      </td>
    </tr>

    <tr class="addition">
      <td>
        <label class="control">Duration:</label>
      </td>
      <td>
        <input type="text" name="boil" class="unit" value="60" /> <label>minutes</label>
      </td>
    </tr>

  </table>

</div>
