<div class="step">
  <h2>3. Ferment</h2>

  <div class="opaque">
    <p>
      Choose yeast(s) for fermentation.
    </p>
  </div>

  <table>
    <tr class="addition">
      <td>
        <label class="control">Yeast:</label>
      </td>
      <td>
        <select>
          <option>Wyeast 1056 - American Ale</option>
        </select>
      </td>
      <td>
        <span class="control plus"> + </span>
      </td>
    </tr>
  </table>

  <div class="opaque" style="padding:15px;">

    <table>
      <tr class="addition">
        <td>
          <label>Primary:</label>
        </td>
        <td>
          <input type="text" name="primary" class="unit" />
        </td>
        <td>
          <select>
            <option>Day(s)</option>
            <option>Week(s)</option>
          </select>
        </td>
      </tr>
      <tr class="addition">
        <td>
          <label>Secondary:</label>
        </td>
        <td>
          <input type="text" name="secondary" class="unit" />
        </td>
        <td>
          <select>
            <option>Day(s)</option>
            <option>Week(s)</option>
          </select>
        </td>
      </tr>
    </table>

  </div>

</div>
