<%inherit file="../../layout.html" />

<%def name="title()">
    BrewPlot
</%def>

<%def name="javascript()">
    <script type="text/javascript" src="/javascript/recipes/builder.js"></script>
</%def>

  <nav id="topnav">
    <ul>
      <li>
        BrewPlot
      </li>
      <li>
        <a href="#">Recipes</a>
      </li>
      <li>
        <a href="#">Styles</a>
      </li>
      <li>
        <a href="#">Ingredients</a>
      </li>
      <li>
        <a href="#">Sign In</a>
      </li>
    </ul>
  </nav>

  <div id="content">
    <div id="content-inner">

      <form method="POST">
        <div id="builder" />
      </form>

    </div>
  </div>
