<div class="step"> 
  <h2>1. Mash</h2>
  
  <div class="opaque">
    % if recipe.additions:
      <table>
        % for a in recipe.additions:
          <tr class="addition">
            <td>
              ${a.ingredient.printed_name}
            </td>
            <td>
              ${a.ingredient.ppg} PPG
            </td>
            <td>
              ${a.ingredient.lovibond}  &#186;L
            </td>
          </tr>
        % endfor
      </table>
    % else:
      <p>
        Choose one or more fermentables below.
      </p>
    % endif
  </div>

  <table>
    <%include file="additions/mash-template.html" />
  </table>

</div>
