<div class="step"> 
  <h2>1. Mash</h2>
  
  <div class="opaque ingredient-list">
    % if recipe.mash:
      <table>

        <!-- Malt Additions -->
        % if recipe.mash.get(h.model.Fermentable):
          <tr>
            <th class="amount">Amount</th>
            <th>Fermentable</th>
            <th>PPG</th>
            <th class="unit">L</th>
          </tr>

          % for addition in recipe.mash.get(h.model.Fermentable):
            <%include file="additions/mash/fermentable.html" args="i=recipe.additions.index(addition), addition=addition" />
          % endfor
        %endif

        <!-- Hop Additions -->
        % if recipe.mash.get(h.model.Hop):
          <tr>
            <th class="amount">Amount</th>
            <th>Variety</th>
            <th>Form</th>
            <th class="unit">AA</th>
          </tr>

          % for i, addition in enumerate(recipe.mash.get(h.model.Hop)):
            <%include file="additions/mash/hop.html" args="i=recipe.additions.index(addition), addition=addition" />
          % endfor
        %endif

      </table>
    % else:
      <p>
        Choose one or more fermentables below.
      </p>
    % endif
  </div>

  <table>
    <%include file="additions/mash-template.html" />
  </table>

</div>
