.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
nav.user, #topnav, #content  {
  width: 900px;
}
#content  {
  h1  {
    padding-right: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 475px;
  }
  .header  {
    fieldset  {
      .border-radius(8px);
      padding: 3px 10px;
      background: #4C9EBE;
      color: #FFF;
      display: inline-block !important;
    }
  }

  #builder-ajax  {
    position: relative;
  }

  div.step  {
    background: #FFF;
    h2  {
      display: none;
    }
    div.inventory  {
      display: none;
    }
    div.ingredient-list  {
      width: 860px !important;
      table  {
        width: 860px;
      }
      p.instruction  {
        display: block !important;
        padding-left: 1em;
        padding-top: 1em;
      }
      td.time p.instruction  {
        display: inline !important;
        padding-left: 0;
      }
      ol.process  {
        span  {
          width: auto !important;
        }
      }
    }
  }
}
div#builder-buttons  {
  form  {
    visibility: hidden;
  }
}

div.ingredient-info  {
  max-width: 500px;
  margin: auto 10px;

  ul  {
    margin-bottom: 15px;
  }

}

div.notes p  {
  padding: 25px 15px;
}
img.glass  {
  left: -150px;
}
