bcc_address: you@yourdomain.com  # An email which will be BCC'd on all signups
session_key: random  # User to generate cookies.  Auto-generate and keep secret
postmark_api_key: postmark-api-key  # An API key for the https://postmarkapp.com service
dbhost: 10.10.10.2  # The IP address/hostname of the database server
dbname: draughtcraft
dbuser: draughtcraft
dbpassword: sample-password

# Used to upload CDN and SQL backup assets to DreamHost DreamObjects
dho_key: some-key
dho_secret: some-secret
dho_bucket: some-bucket
backup_bucket: some-bucket

# SMTP credentials for sending error emails
error_email: errors@draughtcraft.com
error_smtp_server: smtp.draughtcraft.com
error_password: password
