<h1 style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; line-height: normal;">
  Reset your Draughtcraft password
</h1>

<p>
  Hi ${name},
</p>

<p>
  Can't remember your password? Don't worry about it - it happens.
</p>

<p>
  <b>Just click this link to reset your password:</b>
  <a href="http://draughtcraft.com/forgot/reset/${code}">http://draughtcraft.com/forgot/reset/${code}</a>
</p>

<p style="font-size: 12px;">
  <b>Didn't ask to reset your password?</b><br />
  If you didn't ask for your password, it's likely that another user entered your username or email address
  by mistake while trying to reset their password. If that's the case, you don't need to take any further
  action and can disregard this email.
</p>
