<p>Hi ${first_name},</p>

<h1 style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; line-height: normal;">
  Thanks for signing up for DraughtCraft.
</h1>

<p>
  DraughtCraft helps you build, store and share your recipes in an online,
  managed platform made especially for homebrew enthusiasts.
</p>

<p>
  You can log in to your new account at 
  <a href="http://draughtcraft.com/login">http://draughtcraft.com/login</a> or
  get started <a href="http://draughtcraft.com/recipes/create">building a recipe</a>
  right now.
</p>

<p style="font-size:12px;">
  Thanks again from the team at 
  <a href="http://draughtcraft.com/login">DraughtCraft</a>!
</p>
