<%
  from draughtcraft.lib.csrf import auth_token_pair
  key, token = auth_token_pair()
%>

% if recipe.author is None or not editable:
  <div id="actions">
    <ul>
      % if not editable:
        <li class="print" title="Print this Recipe" onclick="window.print();"></li>
      % endif
      % if h.request.context['user'] is None:
        <li class="intl submit ${'last' if editable else ''}" onclick="$.draughtcraft.toggleUnits('${key}', '${token}');" title="Switch to ${'U.S.' if recipe.metric else 'Metric'} Units"></li>
      % elif recipe.author and recipe.author == h.request.context['user'] and recipe.state == "PUBLISHED":
        ${h.form("%sdraft" % recipe.url())}
          <li class="edit submit ${'last' if editable else ''}" title="Make Changes"></li>
        ${h.end_form()}
      % elif recipe.author and recipe.author == h.request.context['user'] and recipe.state == "DRAFT":
        <form method="GET" action="${recipe.url(false)}">
          <li class="edit submit ${'last' if editable else ''}" title="Make Changes"></li>
        </form>
      % endif
      % if not editable:
        ${h.form("%scopy" % recipe.url())}
          <li class="copy submit last" title="Copy this Recipe"></li>
        ${h.end_form()}
      % endif
    </ul>
  </div>
% endif

% if recipe.type in ('MASH', 'MINIMASH'):
  <%include file="steps/mash/index.html" />
% endif
<%include file="steps/boil/index.html" />
<%include file="steps/ferment/index.html" />

<div class="step active notes">
  % if not editable and recipe.notes:
    <h3 class="ribbon">Other Notes</h3>
    <p> 
      ${'<br />'.join(recipe.notes.split('\n')) if recipe.notes else ''}
    </p>
  % endif
</div>

<%include file="results.html" />
