<%
  def printable_type(type):
    return ({
      'MASH'          : 'All-Grain',
      'MINIMASH'      : 'Extract w/ Mini-Mash',
      'EXTRACTSTEEP'  : 'Extract w/ Steeped Grains',
      'EXTRACT'       : 'Extract'
    })[type] 
%>

<%inherit file="../../layout.html" />

<%def name="style()">
    <link rel="stylesheet" type="text/css" media="screen" href="${h.stamp('/css/recipes/builder.less.css')}" />
    % if not editable:
      <link rel="stylesheet" type="text/css" media="screen" href="${h.stamp('/css/recipes/viewer.less.css')}" />
    % endif
    <link rel="stylesheet" type="text/css" media="print" href="${h.stamp('/css/recipes/builder.print.less.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${h.stamp('/css/jquery.selectbox.css')}" />
</%def>

<%def name="javascript()">
  <script type="text/javascript" src="${h.stamp('/javascript/jquery.form.min.js')}"></script>
  <script type="text/javascript" src="${h.stamp('/javascript/jquery-scrolltofixed-min.js')}"></script>
    % if editable:
      <script type="text/javascript" src="${h.stamp('/javascript/recipes/builder.js')}"></script>
      <script type="text/javascript" src="${h.stamp('/javascript/jquery.selectbox.min.js')}"></script>
    % else:
      <script type="text/javascript" src="${h.stamp('/javascript/recipes/viewer.js')}"></script>
    % endif
</%def>

% if not editable:
  ${h.form('async', id='async', method='POST')}${h.end_form()}
% endif

<div id="builder">

  <div class="header">
    ${h.form('async/name', class_='name')}
      <h1>
        ${h.text('name', value=recipe.name)}
      </h1> 
    ${h.end_form()}
    <fieldset>
      ${h.form('async/settings/style')}
        ${h.select(
          'target', 
          recipe.style.id if recipe.style else None, 
          [('', 'No Target Style Chosen')] + [(s.id, s.name) for s in h.model.Style.query.order_by(h.model.Style.name).all()],
        )}
      ${h.end_form()}
    </fieldset>

    % if recipe.metric:
        <fieldset>
          ${h.form('async/settings/volume', class_='volume')}
            ${h.text(
              'volume', 
              int(recipe.liters) if int(recipe.liters) == float(recipe.liters) else recipe.liters,
              class_ = 'unit'
            )}
            ${h.hidden(
              'unit',
              'LITER'
            )}
            Liter(s)
          ${h.end_form()}
        </fieldset>
    % else:
        <fieldset>
          ${h.form('async/settings/volume', class_='volume')}
            ${h.text(
              'volume', 
              int(recipe.gallons) if int(recipe.gallons) == float(recipe.gallons) else recipe.gallons,
              class_ = 'unit'
            )}
            ${h.hidden(
              'unit',
              'GALLON'
            )}
            Gallon(s)
          ${h.end_form()}
        </fieldset>
    % endif

    <fieldset class="type">
      <span>${printable_type(recipe.type)}</span>
    </fieldset>

    % if recipe.author:
      <p class="author">By: ${recipe.author.full_name.strip() or recipe.author.username}</p>
      <a href="/profile/${recipe.author.username}" class="author">
        <img 
          src="${recipe.author.gravatar}&s=45" 
          class="gravatar"
          title="${recipe.author.username}"
        />
      </a>
      <img 
        src="${recipe.author.gravatar}&s=100" 
        class="gravatar fullsize"
        title="${recipe.author.username}"
      />
    %else:
      
    <div id="actions">
      <ul>
        <li class="intl submit" title="Switch to ${'U.S.' if recipe.metric else 'Metric'} Units"></li>
      </ul>
    </div>
    % endif
  </div>

  <div id="builder-ajax">
    <div class="builder-loading">
      <img src="/images/loading.gif" /> 
    </div>
  </div>

</div>
<div id="builder-buttons">
  % if recipe.author:
    ${h.form('publish')}
      <button class="publish-btn">Publish Changes</button>
      <span class="sep">or</span> <a href="/profile/${recipe.author.username}">Cancel</a>
    ${h.end_form()}
  % else:
    ${h.form('/signup', method='GET')}
      <button>Save Changes</button>
    ${h.end_form()}
  % endif
</div>

<div id="inventories">
  <div class="mash">
    <%include file="steps/mash/add.html" />
  </div>
  <div class="boil">
    <%include file="steps/boil/add.html" />
  </div>
  <div class="ferment">
    <%include file="steps/ferment/add.html" />
  </div>
</div>
