<%inherit file="../../layout.html" />

<%def name="style()">
    <link rel="stylesheet/less" type="text/css" media="screen" href="/css/recipes/builder.less" />
    % if not editable:
      <link rel="stylesheet/less" type="text/css" media="screen" href="/css/recipes/viewer.less" />
    % endif
    <link rel="stylesheet/less" type="text/css" media="print" href="/css/recipes/builder.print.less" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery.selectbox.css" />
</%def>

<%def name="javascript()">
    <script type="text/javascript" src="/javascript/jquery.form.min.js"></script>
    % if editable:
      <script type="text/javascript" src="/javascript/recipes/builder.js"></script>
      <script type="text/javascript" src="/javascript/jquery.selectbox.min.js"></script>
    % else:
      <script type="text/javascript" src="/javascript/recipes/viewer.js"></script>
    % endif
</%def>

% if not editable:
  ${h.form('async', id='async', method='POST')}${h.end_form()}
% endif

<div id="builder">

  <div class="header">
    ${h.form('async/name', class_='name')}
      <h1>
        ${h.text('name', value=recipe.name)}
      </h1> 
    ${h.end_form()}
    <fieldset>
      ${h.form('async/settings/style')}
        ${h.select(
          'target', 
          recipe.style.id if recipe.style else None, 
          [('', 'No Target Style Chosen')] + [(s.id, s.name) for s in h.model.Style.query.order_by(h.model.Style.name).all()],
        )}
      ${h.end_form()}
    </fieldset>
    <fieldset>
      ${h.form('async/settings/volume')}
        ${h.select(
          'volume', 
          [recipe.gallons],
          [(float(v), '%s Gallon(s)' % v) for v in [1, 2, 2.5, 3, 4, 5, 8, 10, 15, 20, 25]],
          class_ = 'gallons'
        )}
        ${h.hidden(
          'unit',
          'GALLON'
        )}
      ${h.end_form()}
    </fieldset>

    % if recipe.author:
      <p class="author">By: ${recipe.author.full_name or recipe.author.username}</p>
      <a href="/profile/${recipe.author.username}" class="author">
        <img 
          src="${recipe.author.gravatar}&s=45" 
          class="gravatar"
          title="${recipe.author.username}"
        />
      </a>
    % endif
  </div>

  <div id="builder-ajax">
    <div class="builder-loading">
      <img src="/images/loading.gif" /> 
    </div>
  </div>

</div>
<div id="builder-buttons">
  % if recipe.author:
    ${h.form('publish')}
      <button>Publish Changes</button>
      <span class="sep">or</span> <a href="/profile/${recipe.author.username}">Cancel</a>
    ${h.end_form()}
  % else:
    ${h.form('/signup', method='GET')}
      <button>Save Changes</button>
    ${h.end_form()}
  % endif
</div>
