<%page args="active" />

<%

  def cls(step, last=False):
    cls = []
    if step == active:
      cls.append('active')
    if last is True:
      cls.append('last')
    return ' '.join(cls)

%>

<%def name="tab(step, cls)">
  <li class="${cls}">
    <a href="#${step.lower()}">
      ${step}
    </a>
  </li>
</%def>

<h2>
  <ul>
    % if recipe.type in ('MASH', 'MINIMASH'):
      ${tab('Mash', cls('mash'))}
    % endif
    ${tab('Boil', cls('boil'))}
    ${tab('Ferment', cls('ferment', last=True))}
  </ul>
  % if editable and recipe.author == h.request.context['user']:
    <a href="${recipe.url()}"><span class="preview">Preview</span></a>
  % endif
</h2>
