<%inherit file="../layout.html" />

<%def name="title()">Create a New Recipe</%def>

<%def name="style()">
  <link rel="stylesheet/less" type="text/css" media="screen" href="${h.stamp('/css/thin.less')}" />
  <link rel="stylesheet/less" type="text/css" media="screen" href="${h.stamp('/css/recipes/create.less')}" />
</%def>

<%def name="javascript()">
  <script type="text/javascript" src="${h.stamp('/javascript/recipes/create.js')}"></script>
</%def>

<h1>
  Create a New Recipe
</h1>

<div class="clearfix">

  <div style="display: none">
    <div id="recipe-types">

      <h2>Extract - <span class="difficulty">Simple</span></h2>
      <p>
        Brewing with 
        <a href="http://www.homebrewtalk.com/wiki/index.php/Malt_extract" target="window">malt extract</a> 
        is the typical entry point for beginning homebrewers, as it generally
        requires the least amount of space, time, and equipment.
      </p>
      <p>
        While some insist that extract brewing gives you less control over certain
        aspects of your beer, the number of award-winning extract recipes
        illustrates that brewing with malt extract can yield fantastic results.
      </p>

      <h2>Extract with Steeped Grains - <span class="difficulty">Simple</span></h2>
      <p>
        Brewing with 
        <a href="http://www.homebrewtalk.com/wiki/index.php/Steeping_grains" target="window">specialty steeping grains</a> 
        in addition to malt extract can give the brewer more control over
        color, flavor, and fermentable sugars.
      </p>

      <h2>Partial/Mini-Mash - <span class="difficulty">Intermediate</span></h2>
      <p>
        Partial, or mini-mashing, is a marriage of <b>Extract</b> and 
        <b>All Grain</b> brewing. A small amount of grain is 
        <a href="http://www.homebrewtalk.com/wiki/index.php/Mash" target="window">mashed</a>
        to obtain fermentable sugars, and malt extract is used to provide the
        remainder of the fermentables.
      </p>

      <h2>All Grain - <span class="difficulty">Intermediate/Advanced</span></h2>
      <p>
        All Grain brewing is a process in which a brewer creates wort from crushed
        grain through a process known as 
        <a href="http://www.homebrewtalk.com/wiki/index.php/Mash" target="window">mashing</a>.
      </p>

    </div>
  </div>
  ${h.form('')}
    <fieldset>
      <dl class="clearfix">
        <dt><label for="name">Recipe Name</label></dt>
        <dd>
          ${h.text(
            'name', 
            'e.g., Rocky Mountain River IPA', 
            tabindex = '1', 
            size = '256',
            class_ = 'default'
          )}
          <small>You can change your recipe's name later.</small>
        </dd>
        <dt>
          <label for="type">Recipe Type</label>
          <a href="#recipe-types" class="question">Which should I choose?</a>
        </dt>
        <dd>
            ${h.select('type', 
            h.request.context['user'].settings['default_recipe_type'] if h.request.context['user'] else None, [
                ('EXTRACT', 'Extract'),
                ('EXTRACTSTEEP', 'Extract with Steeped Grains'),
                ('MINIMASH', 'Partial/Mini-Mash'),
                ('MASH', 'All Grain')
            ], tabindex='2')}
        </dd>
        <dt><label for="gallons">Final Volume</label></dt>
        <dd>
          ${h.select(
            'volume', 
            h.request.context['user'].settings['default_recipe_volume'] if h.request.context['user'] else 5,
            [(v, '%s Gallon(s)' % v) for v in [1, 2, 2.5, 3, 4, 5, 8, 10, 15, 20, 25]],
            tabindex='3'
          )}
          ${h.hidden(
            'unit',
            'GALLON'
          )}
        </dd>
      </dl>
    </fieldset>

    <div class="buttons">
      <button class="ribbon" tabindex="4">
        Create Recipe 
      </button>
      or <a href="javascript:history.go(-1);" tabindex="5">Go Back</a>
    </div>

  ${h.end_form()}

  % if h.request.context['user'] is None:
    <div class="info">
      <h4>Become a Member</h4>
      <p>
        DraughtCraft members can save, share, and organize their recipes online.
        Best all of, signing up is easy and free!
      </p>
      <p>
        <a href="/signup" tabindex="6">Sign Up Now</a>
      </p>
    </div>
  % else:
    <div class="info">
      <h4>It Starts with a Draft...</h4>
      <p>
        On the next screen, you'll start building a private recipe by choosing
        ingredients, specifying procedures and techniques, and outlining the
        ideal fermentation process.
      </p>
      <p>
        When you're satisfied, click <b>Publish</b> to share your creation with
        the world!
      </p>
    </div>
  % endif

</div>
