<%inherit file="../layout.html" />

<%def name="title()">Change Your Password</%def>

<%def name="style()">
    <link rel="stylesheet" type="text/css" media="screen" href="${h.stamp('/css/thin.less.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${h.stamp('/css/settings/shared.less.css')}" />
</%def>

<%include file="nav.html" args="current='password'" />

<div class="clearfix">

  ${h.notices.render()}

  ${h.form('')}
    <fieldset>
      <dl class="clearfix">

        <dt><label for="name">Existing Password</label></dt>
        <dd>
          ${h.password(
            'old_password', 
            tabindex = '1',
            value = static('old_password', '')
          )}
        </dd>

        <dt><label for="name">New Password</label></dt>
        <dd>
          ${h.password(
            'password', 
            tabindex = '2',
            value = static('password', '')
          )}
        </dd>
        <dd>
          ${h.password(
            'password_confirm', 
            tabindex = '3',
            value = static('password_confirm', '')
          )}
          <div>
            <small>Please confirm your new password.</small>
          </div>
        </dd>
      </dl>
    </fieldset>

    <div class="buttons">
      <button class="ribbon" tabindex="4">
        Save
      </button>
      or <a href="/" tabindex="5">Cancel</a>
    </div>

  ${h.end_form()}

</div>
