<%inherit file="../layout.html" />

<%def name="title()">Edit Your Profile</%def>

<%def name="style()">
    <link rel="stylesheet/less" type="text/css" media="screen" href="${h.stamp('/css/thin.less')}" />
    <link rel="stylesheet/less" type="text/css" media="screen" href="${h.stamp('/css/settings/shared.less')}" />
</%def>

<%def name="javascript()">
    <script type="text/javascript">
      $(function(){
        $('h1 a').tipTip({
          'delay'       : 25,
          'edgeOffset'  : 40  
        });
      });
    </script>
</%def>

<%include file="nav.html" args="current='profile'" />

<div class="clearfix">

  ${h.notices.render()}

  ${h.form('')}
    <fieldset>
      <dl class="clearfix">

        <dt><label for="name">Full Name</label></dt>
        <dd>
          ${h.text(
            'first_name', 
            user.first_name,
            tabindex = '1',
            class_ = 'short'
          )}
          ${h.text(
            'last_name', 
            user.last_name,
            tabindex = '2',
            class_ = 'short'
          )}
          <div>
            <small class='first'>First</small>
            <small>Last</small>
          </div>
        </dd>

        <dt><label for="name">Email</label></dt>
        <dd>
          ${h.text(
            'email', 
            user.email,
            tabindex = '3', 
            size = '256'
          )}
        </dd>

        <dt><label for="name">Location</label></dt>
        <dd>
          ${h.text(
            'location', 
            user.location,
            tabindex = '4', 
            size = '256'
          )}
          <div>
            <small>e.g., Atlanta, GA</small>
          </div>
        </dd>

      </dl>
    </fieldset>

    <div class="buttons">
      <button class="ribbon" tabindex="4">
        Save
      </button>
      or <a href="/" tabindex="5">Cancel</a>
    </div>

  ${h.end_form()}

</div>
