<%
  from draughtcraft.lib.units import to_metric
%>

<%inherit file="../layout.html" />

<%def name="title()">Edit Your Recipe Settings</%def>

<%def name="style()">
    <link rel="stylesheet" type="text/css" media="screen" href="${h.stamp('/css/thin.less.css',)}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${h.stamp('/css/settings/shared.less.css')}" />
</%def>

<%include file="nav.html" args="current='recipes'" />

<div class="clearfix">

  ${h.notices.render()}

  ${h.form('')}
    <fieldset>
      <dl class="clearfix">

        <dt><label for="name">Display Recipes Using</label></dt>
        <dd>
          ${h.select('unit_system', user.settings.get('unit_system', 'US'), [
            ('US', 'U.S. units (lb, oz, gallon)'),
            ('METRIC', 'Metric units (kg, g, liter)'),
          ], tabindex='4')}
        </dd>

        <dt><label for="name">Default Recipe Type</label></dt>
        <dd>
          ${h.select('default_recipe_type', user.settings['default_recipe_type'], [
            ('MASH', 'All Grain'),
            ('EXTRACT', 'Extract'),
            ('EXTRACTSTEEP', 'Extract w/ Steeped Grains'),
            ('MINIMASH', 'Extract with Mini-Mash')
          ], tabindex='1')}
        </dd>

        <dt><label for="name">Default Batch Size</label></dt>
        <dd>
          % if h.request.context['metric'] == True:
            ${h.text(
              'default_recipe_volume', 
              h.format_volume(round(to_metric(*(user.settings['default_recipe_volume'], "GALLON"))[0], 3)),
              tabindex='2',
              class_='unit'
            )}
            Liter(s)
          % else:
            ${h.text(
              'default_recipe_volume', 
              h.format_volume(user.settings['default_recipe_volume']),
              tabindex='2',
              class_='unit'
            )}
            Gallon(s)
          % endif
        </dd>

        <dt><label for="name">Preferred IBU Calculation</label></dt>
        <dd>
          ${h.select('default_ibu_formula', user.settings['default_ibu_formula'], [
            ('tinseth', 'Tinseth Formula'),
            ('rager', 'Rager Formula'),
            ('daniels', 'Daniels Formula')
          ], tabindex='3')}
        </dd>

        <dt><label for="name">Brewhouse Efficiency</label></dt>
        <dd>
          ${h.text(
            'brewhouse_efficiency', 
            int(user.settings['brewhouse_efficiency'] * 100),
            class_="unit",
            tabindex='5'
          )} %
        </dd>

      </dl>
    </fieldset>

    <div class="buttons">
      <button class="ribbon" tabindex="4">
        Save
      </button>
      or <a href="/" tabindex="5">Cancel</a>
    </div>

  ${h.end_form()}

</div>
